@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin section-title {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: $color-secondary;
  background-color: transparent;
}

@mixin background-title {
  content: '';
  width: 1000%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -500%;
  z-index: -1;
  background-image: linear-gradient(to right, $color-background 25%, $color-light);
  overflow-x: hidden;
}

@mixin transparent-gradient {
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 2;
  background-image: linear-gradient(to right, transparent, $color-light);
}

@mixin button-swiper {
  vertical-align: center;
  background-color: $color-light;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

@mixin title-decoration {
  position: absolute;
  content: '';
  display: inline-block;
  width: 4px;
  height: 40px;
  border-radius: 0 4px 4px 0;
  background: #fdbdba;
  top: 0;
}

@mixin button-long {
  text-align: start;
  font-family: $font-main;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.15;
  text-transform: uppercase;
  color: $color-light;
  background-color: $color-button;
  border: 1px solid $color-button;
  border-radius: 16px;

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 2px;
    right: 16px;
    top: 39%;
    pointer-events: inherit;
    background: $color-light;
    border-radius: 2px 0 0 2px;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
    top: 53.2%;
  }
}

@mixin modal-wrapper {
  box-shadow: 4px 0 30px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  background-color: $color-light;
}
