.inner {
  padding: 0 0 0 16px;
  margin: auto auto;
  max-width: 1380px;

  @media (min-width: $tablet) {
    padding: 0 24px;
  }
}

.inner-body {
  max-width: $desktop;
  margin-left: auto;
  margin-right: auto;

  // @media (min-width: 1120px) {
  //   display: flex;
  // }
}
