.brands {
  position: relative;
  height: fit-content;
  border-top: 1px solid $color-green-light;
  margin-bottom: 8px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }

  &::after {
    @include transparent-gradient;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__title {
    @include section-title;
    position: relative;
    margin-bottom: 24px;
    padding-bottom: -16px;

    &::before {
      @include background-title;
    }
  }

  &__list {
    @media screen and (min-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      justify-items: stretch;
      gap: 16px 16px;
      margin-bottom: 15px;
    }

    @media screen and (min-width: 1000px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: $desktop) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &__item-button {
    @include button-swiper;
    height: 200px;
    border: none;

    @media screen and (min-width: $tablet) {
      min-width: 200px;
      width: 100%;
      height: fit-content;
    }

    &--apple {
      padding-top: 12px;
    }

    &--hp {
      padding: 10px;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $tablet) {
      display: inherit;
    }
  }

  &__item {
    &:nth-child(n + 4) {
      @media screen and (min-width: $tablet) {
        display: none;
      }

      @media screen and (min-width: 1000px) {
        display: block;
      }
    }

    &:nth-child(n + 5) {
      @media screen and (min-width: 1000px) {
        display: none;
      }

      @media screen and (min-width: $desktop) {
        display: block;
      }
    }

    &:nth-child(n + 6) {
      @media screen and (min-width: $desktop) {
        display: none;
      }
    }

    &__item-button {
      @media screen and (min-width: $mobile) {
        min-width: 224px;
        width: 100%;
      }
    }
  }

  .brands__item-image {
    height: 200px;
    width: 210px;
  }
}
