.about {
  margin-bottom: 24px;
  height: 450px;
  background: url('img/img-about/bg-about-34.jpg');
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $desktop) {
    background: linear-gradient(to right, $color-background 13%, transparent 18%, transparent 37%, $color-background 47%, $color-background 49%, transparent 53%, transparent 82%, $color-background 87%), url('img/img-about/bg-about-3.jpg');
    background-position: 0 0;
    background-size: 50vw 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 51px;
  }

  &__title {
    @include visually-hidden;
  }

  &__content {
    margin-right: 16px;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    white-space: pre-line;

    @media (min-width: $tablet) {
      line-height: 20px;
    }
  }

  &__text-item {
    &--tablet {
      display: none;

      @media (min-width: $tablet) {
        display: inline;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: $desktop) {
        display: inline;
      }

      &:last-child.open ~ button {
        margin-top: 16px;
      }
    }
  }

  &__button.button-show-hide:not(.button-show) {
    display: block;
    margin-top: 16px;
  }

  &__image {
    margin-left: -16px;
    margin-right: -16px;
    width: auto;
    height: max-content;

    @media (min-width: $tablet) {
      margin: 0;
      width: 50%;
      border-radius: 7px;
    }
  }
}

.about__button {
  margin-top: -22px;
  display: block;

  @media (min-width: $tablet) {
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
.about__text ~ .about__button:not(.button-show) {
  display: block;
  margin-top: 16px;
}

.about__text-items {
  flex-basis: 100%;
}
