.pagination {
  position: relative;
  padding: 24px 0 10px 0;

  @media (min-width: $desktop) {
    padding: 40px 0 16px 0;
  }

  &__title {
    position: relative;
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    z-index: 3;

    &::before {
      @include title-decoration;
      left: -16px;

      @media (min-width: $tablet) {
        left: -24px;
      }
    }
  }

  &__contacts {
    display: none;

    @media (min-width: $desktop) {
      display: flex;
      gap: 32px;
    }
  }

  &__contacts-button {
    display: flex;
    align-items: center;
    min-width: 171px;
    min-width: 171px;
    background-color: $color-background;
  }

  &__contacts-text {
    margin-right: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  &__list {
    display: flex;
    flex-basis: 100%;
    overflow: scroll;

    &::after {
      @include transparent-gradient;

      @media (min-width: $tablet) {
        width: 30px;
      }

      @media (min-width: $desktop) {
        display: none;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__link {
    margin: 4px 12px;
  }

  &__item {
    color: $color-secondary;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;
    border: 2px solid transparent;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid $color-accent;
      border-radius: 6px;
      background-color: $color-light;
    }
  }
}
